@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-capitalize text-black">
    <div class="mainText">
        <h1 class="display-4">Welcome To Omar Bro's Pizza Store</h1>
        <h2 class="mainSubtitle">Your Pizza is Ready !!!!</h2>

    </div>

    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Pizza">Bring me the pizza!</a>
</div>

